body {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: normal; 
    font-variant: normal;
    line-height: 26.4px; 
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/89/23/a2/8923a220c509f3e1a69af46b3588434e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    list-style-position: inside;
    color: #682813;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 5px solid white;
    background-color: #E7CAA6;
}  

.flex-child:first-child {
    flex: 1;
    margin-right: 20px;
    background-color: #C2876E;
} 

h1 {
    color: #8A2707;
    font-size: 50px;
}

h1 span {
    background-color: #FEF7F4;
}

h2 {
    font-size: 25px;
}

h3 {
    color: white;
    font-size: 30px;
}

ol li {
    font-size: 20px;
    color: white;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    border-radius: 95%;
    margin-left: auto;
    margin-right: auto;
}

.shaped {
    border: 1px solid #ddd;
    border-radius: 25px;
    background: white;
    padding: 5px;
    width: 200px;
    height: 200px;
}

.artist_link {
    color: #682813;
}

.track_links {
    color: white;
}
